#password{

    position: relative;
    margin-left: 66px;
    width: 382px;
    height: 62px;

}

#password_field{
    background: #f2f2f2;
    border: 2px #cccccc;
    width: inherit;
    height: inherit;
    font-size: 20px;
    color: #999999;
    font-family: Garamond, sans-serif;
}
